.pageContainer {
  width: 100%;
  height: 100%;
  padding: 8px;
  color: white;

  .pageHeader {
    display: flex;
    gap: 20px;
    margin: 10px;
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 8px;

    .imageWrapper {
      text-align: center;
    }

    .img {
      border-radius: 20px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .detailsItem {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .label {
      font-size: 18px;
    }

    .value {
      padding: 4px;
      width: 90%;
      line-height: 22px;
    }

  }

  .movieInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .movieCardContainer {
    display: flex;
    justify-content: center;
  }

  .producerCompanies {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
  }
}