.pageContainer {

  height: 100vh;
  overscroll-behavior-y: auto;
  color: white;
  padding: 20px;

  .cardContainer {
    display: flex;
    justify-content: center;
  }

  .pageHeader {
    display: flex;
    gap: 20px;
  }
}